@import 'fonts.css';

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  transition: background 0.4s;
}

.nav {
  display: flex;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
}

.nav--logo-text,
.nav--title {
  margin: 0;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

.nav--logo_text {
  margin-right: auto;
  font-weight: 700;
  font-size: 22px;
}

.main {
  padding: 57px 27px;
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
}

.theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 10px;
  line-height: 110%;
  text-align: center;
}

.toggle-switch {
  margin: 0px 7px;
  position: relative;
  appearance: none;
  width: 25px;
  height: 13px;
  background-color: #f5f5f5;
  border-radius: 11px;
  transition: background 0.2s;
  cursor: pointer;
  outline: none;
}

.toggle-switch::after {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  border-radius: 50%;
  transition: left 0.2s;
}

.toggle-switch:checked {
}

.toggle-switch:checked::after {
  left: 70%;
}

.dark-theme {
  background-color: #282d35;
}

.dark-theme .nav {
  background-color: #21222a;
}

.dark-theme .nav--logo_text {
  color: #61dafb;
}

.dark-theme .main {
  color: #ffffff;
  background-image: url('./images/react-icon-large-dark.png');
}

.dark-theme .main--facts > li::marker {
  color: #61dafb;
}

.dark-theme .light-text {
  color: #918e9b;
}

.dark-theme .dark-text {
  color: #ffffff;
}

.light-theme {
  background-color: #ffffff;
}

.light-theme .nav {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.light-theme .nav--logo_text {
  color: #00abca;
}

.light-theme .main {
  color: #2b283a;
  background-image: url('./images/react-icon-large-light.png');
}

.light-theme .main--facts > li::marker {
  color: #00abca;
}

.light-theme .light-text {
  color: #2b283a;
}

.light-theme .dark-text {
  color: #d5d4d8;
}
